{% extends 'AcmeTaskBundle::base.html.twig' %}
{% block title %}Task List{% endblock %}
{% block body %}
	<section>
	{% if incompleteTasks %}
		<h2>Todo tasks:</h2>
		{% for task in incompleteTasks %}
		<article>
			<header>
				<h3>
					<a href="{{ path('acme_task_view', {'id': task.id}) }}">{{ task.title }}</a>
				</h3>
				<h4><a href="{{ path('acme_task_status', {'status': 'complete', 'id': task.id}) }}">Set as completed</a></h4>
			</header>
			<footer>
				<small>
					{{ task.createdAt|date('Y-m-d H:i:s') }}
					{% if task.updatedAt > task.createdAt %}
					- updated: {{ task.updatedAt|date('Y-m-d H:i:s') }}
					{% endif %}
				</small>
				<div>
					<a href="{{ path('acme_task_delete', {'id': task.id}) }}">Remove Task</a>
					<a href="{{ path('acme_task_update', {'id': task.id}) }}">Update Task</a>
				</div>
			</footer>
		</article>
		<hr>
		{% endfor %}
	{% else %}
		<h1>No tasks todo.</h1>
	{% endif %}
	</section>
	<section>
		<h2>Add a new task</h2>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</section>

	{% if completedTasks %}
		<h2>Completed tasks</h2>
		<ul>
		{% for task in completedTasks %}
			<li>
				<a href="{{ path('acme_task_view', {'id': task.id}) }}">{{ task.title }}</a> - <a href="{{ path('acme_task_status', {'status': 'incomplete', 'id': task.id }) }}">set as incomplete</a>
			</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
