{% extends 'AcmeTaskBundle::base.html.twig' %}
{% block title %}Login or Create your Account{% endblock %}
{% block body %}
	<header>
		<h1>Identificate!</h1>
	</header>
	{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
		<div class="alert alert-success">
			{{ app.user.username }} - {{ app.user.email }}
			{% dump(app.user) %}
		</div>
	{% endif %}
	{% if error %}
	    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}
	<form action="{{ path('login_check') }}" method="post">
		<label for="username">Username</label>
		<input type="text" id="username" name="_username" value="{{ lastUsername }}">
		<label for="password">Password</label>
		<input type="password" id="password" name="_password">
		<button type="submit">Login</button>
	</form>
{% endblock %}